---
import TopBarLinks from './TopBarLinks.astro';
import TopBarActions from './TopBarActions.astro';
import TopBarPromo from './TopBarPromo.astro';
---

<nav
  class="theme-fixed-dark bg-background text-foreground hidden grid-cols-3 items-center justify-center px-6 py-3 md:grid"
  aria-label="Utility navigation"
>
  <TopBarActions />
  <TopBarPromo />
  <TopBarLinks />
</nav>
