---
import '@/styles/global.css';
import Head from './Head.astro';
import Nav from '@/components/shared/nav/Nav.astro';
import Callout from '@/components/shared/callout/Callout.astro';
import Header from '@/components/shared/header/Header.astro';
import Footer from '@/components/shared/footer/Footer.astro';
import TopBar from '@/components/shared/topbar/TopBar.astro';

interface Props {
  /**
   * Whether to show the top bar component
   * @default false
   */
  showTopBar?: boolean;

  /**
   * Whether to show the header component
   * @default false
   */
  showHeader?: boolean;

  /**
   * Whether to show the callout component
   * @default false
   */
  showCallout?: boolean;

  /**
   * Page title string
   * @default "Astro Ecommerce Template"
   */
  title?: string;
}

const { showHeader = false, showCallout = false, showTopBar = false, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body>
    {showTopBar && <TopBar />}
    <Nav />
    {showCallout && <Callout />}
    {showHeader && <Header />}
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
